#wrapper { width:960px;margin-left:120px;}
header {width:960px;background-color:grey;padding:30px;text-align:center;}
nav {width:960px;float:left;}
ul {float:left;list-style:none;display:block;border:thin solid grey;font-size:x-large;padding:20px;}
ul li {display:inline;margin-left:20px;margin-right:48px;}
content {float:left;margin-top:100px;}
#video_part {width:560px;float:left;margin-left:200px;}
#vid0 {float:left;}
.vid {float:left;margin-right:50px;margin-top:20px;}
#submit {float:left;padding:20px;margin-top:20px;margin-bottom:50px;}
#list {width:200px;margin-left:350px;}
.list_vid {float:left;margin-top:40px;}