#wrapper { width:960px;margin-left:120px;}
header {width:960px;background-color:grey;padding:30px;text-align:center;}
nav {width:960px;float:left;}
ul {float:left;list-style:none;display:block;border:thin solid grey;font-size:x-large;padding:20px;}
ul li {display:inline;margin-left:20px;margin-right:48px;}
content {float:left;margin-top:20px;}
#video_part {/*width:560px;*/float:left;margin-left:200px;}
#vid0 {float:left;}
.vid {float:left;margin-right:50px;margin-top:20px;}
#submit {float:left;padding:20px;margin-top:20px;margin-bottom:50px;}
#list {/*width:200px*/;margin-left:350px;margin-top:200px;}
.list_vid {float:left;margin-bottom:10px;}
#search_area {float:left;margin-left:350px;}
#text {margin-top:60px;}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

div.ic_myCarousel {
	margin: 100px auto 0 auto;
	clear:right;
}
.ic_myCarousel .ic_button {
	float: left;
	height: 47px;
	line-height: 47px;
	margin: 0 4px 0 2px;
	width: 70px;
	border: 1px solid #eee;
	background: #ddd;
}
.ic_myCarousel .ic_thumbnails {
	display: inline-block;
}


/* keep this after the ic_button code for proper border coloring */		
.ic_myCarousel2 .ic_active, .ic_myCarousel .ic_active, .ic_vidCarousel .ic_active  {
	background: #fff;
	border: 1px solid #faa;
}
.ic_caption {
	opacity: .6;
	background: #fff;
	font-size: 12px;
	font-family: arial;
	padding: 4px 8px;
	width: auto;
}

div p {
    color: #333333;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 18px;
    text-shadow: 0 1px 1px #C9C9C9;
}
.options {
	font-size: 16px;
}


